.logo {
  font-family: "Single Day", cursive;
  color: #72db73;
  font-size: 67px;
  margin: 0;
}
.box h1 {
  background: transparent;
}
.box img {
  background: transparent;
}
.box {
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  /* .box{
    width: 100%;
  } */
  .box h1 {
    font-size: 20px;
  }
}
.tag {
  background-color: #9f94ff;
  color: white;
  padding: 15px;
  border-radius: 20px;


}
